body{
    background-color: rgba(113, 115, 119, 0.733);
    background-size: cover;
}
table{
    color: rgba(108, 21, 238, 0.795);
    font-size: 40px;

}
h1{
    color:rgb(11, 170, 11);font-family: "element";
    font-size: 36px;
}